@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #767066;
    font-family: 'Poppins', sans-serif; 
    margin: 10%;
}

.form{
    margin: 50px 5% 50px 25%; /*tag unica que configura tds as margens (top right bottom left)*/
    width: 60%;
    border-radius: 20px;
    height: 1000px; /*o tamanho do card é suficiente para caber o conteudo*/
    background-color: #E3DCCD;
    flex-direction: column;
    justify-content: center; /*alinhamento horizontal*/
    align-items: center; /*alinhamento vertical*/
    margin: auto;
 
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center; /*alinhamento vertical*/
    margin: 100px 10px 50px 10px;

}

.texto { /*formulario de cadastro*/
    width: 70%;
    height: 90%;
    margin: 0%;

}


.texto h1{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}



.select{
    background: #767066;
    width: 400px;
    font-size: 16px;
    border-radius: 10px;
    height: 34px;
    color: #000000;
    border: 1px solid #000000;
    display: flex;
    flex-direction: row;
    justify-content: center; /*alinhamento horizontal*/
    align-items: center; 

}


.PR{
    font-size: 20px;
    color: black;
    width: 70%;

}

.botao-c{
    background-color: #767066;
    color: #000000;
    width: 200px;
    height: 45px;
    border-style: none; /*tira a estilização automatica do botão do html*/
    border-radius: 10px;
    cursor: pointer; /*muda a imagem do cursor quando passar pelo botão*/
    margin: 0%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display:inline-block;
}


button:hover{
    /*'animação' do botão quando o mouse passar*/
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    background-color: #bbb5aa;
    color: white;
    transition-duration: 0.3s; /*duração da transição da animação*/
}