/*importação de fonte do google fontes com varias especuras diferentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color:#E3DCCD;
    font-family: 'Poppins', sans-serif; 
    margin: 0; 
    background-repeat: no-repeat;
}

.container {
    display: flex;
    width: 80%;
    margin: 5%; 
    flex-direction: row;
}

/* Header*/
.header {
    position: absolute; 
    top: 0; 
    width: 100%;
    height: 75px;
    background-color: #E3DCCD;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0px; 
    /* box-shadow: 0 16px 32px 0 rgba(255, 255, 255, 0.489); */
    padding: 0%;
}
.header .container {
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 200px;
   
}
.navbar {
    width: 700px;
    display: flex;
    list-style: none; 
    justify-content: space-between;
  
}
.navbar li a {
    color: #767066;
    text-decoration: none; 
    font-size: 18px;
    font-weight: 600; 
    display: flex;
    margin-left: 15px;
    letter-spacing: 1px;
    
}
.navbar li a:hover {
    color: #b4a39b;
    transition: 0.5s;

}

/* BANNER SOBRE O PROJETO*/
.banner {
    margin-top: 170px;
    margin-bottom: 0%;
}
.line {
    height: 2px;
    width: 880px;
    background-color: #767066;
    margin-left: 20px;
}

.banner .container {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    justify-content:flex-start;
}
.texto-banner {
    color:#767066;
    width: 100%; 
    margin-top: 20px;
    margin-left: 100px;
}
.texto-banner p {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-bottom: 0%;
}
.texto-banner h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 2px;
    color: #767066;
    font-weight: bold;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.texto-banner h1:hover {
    color: #b4a39b;
    transition: 2.0s;
  }

.line:hover {
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.texto-banner h2 {
    font-size: 25px;
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 2px;
    color: #767066;
    font-weight: bold;
    margin-bottom: 2px;
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: start;
    margin-left: 0%;
}

.texto-banner p span {
    font-weight: 700; 
}

/* BANNER SOBRE MIM*/


.banner1{
    width: 100%;
    height: 1150px;
    background-color: #767066;
    /* background-image: url(../assets/imgs/fundo\(3\).jpeg); */
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #767066;
    
}

.fim spam{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    color: #E3DCCD;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 0%;
}

.container1{
    margin-top: 20%;
    margin-bottom: 5%;
}


.perguntas{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E3DCCD;
    width: 75%;
    margin-left: 5%;
    text-align: center;
    margin-top: 2%;
    
}

.mensagem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    color: #E3DCCD;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: 20px;
    font-style:italic;
    font-weight: 200;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    color: #E3DCCD;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    color: #E3DCCD;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}

.lista2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    color: #E3DCCD;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}

.lista3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    color: #E3DCCD;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.respotas{
    display: flex;
    align-items: center;
    justify-content: center;
}
.select{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 34%;
    background-color: #E3DCCD;
    height: 50px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    border-color:  #767066;
    border-width: 2px;
    border-style: dotted;
    cursor: pointer;
    color: #767066;
    font-weight: bold;
    font-size: 20px;
    
}
.botoes{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    position: static;
}
.botao-a{
    background-color: #E3DCCD;
    color: #767066;
    width: 20%;
    height: 50px;
    border-style: none; /*tira a estilização automatica do botão do html*/
    border-radius: 10px;
    cursor: pointer; /*muda a imagem do cursor quando passar pelo botão*/
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display:inline-block;
    margin-top: 5%;
    align-items: center;
    justify-content: space-evenly;
    
}

.botao-c{
    background-color: #E3DCCD;
    color: #767066;
    width: 20%;
    height: 50px;
    border-style: none; /*tira a estilização automatica do botão do html*/
    border-radius: 10px;
    cursor: pointer; /*muda a imagem do cursor quando passar pelo botão*/
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display:inline-block;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    
}

button:hover{
    /*'animação' do botão quando o mouse passar*/
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    background-color: #bbb5aa;
    color: white;
    transition-duration: 0.3s; /*duração da transição da animação*/
}

.input_number{ 
    /*estilização de TODOS os inputs dos formularios do site*/
    width: 30px;
    font-family: 'Poppins', sans-serif;
    height: 30px;
    border-style: none;
    background-color: #E3DCCD;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 48%;
    color: #767066;
    margin-top: 1%;
    text-align: center;
} 

.botao-b{
    background-color: #E3DCCD;
    color: #767066;
    width: 100px;
    height: 30px;
    border-style: none; /*tira a estilização automatica do botão do html*/
    border-radius: 250px;
    cursor: pointer; /*muda a imagem do cursor quando passar pelo botão*/
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display:flex;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    margin-left: 45.7%;
    font-size: 15px;
    
}

.botao-d{
    background-color: #E3DCCD;
    color: #767066;
    width: 100px;
    height: 50px;
    border-style: none; /*tira a estilização automatica do botão do html*/
    border-radius: 250px;
    cursor: pointer; /*muda a imagem do cursor quando passar pelo botão*/
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display:flex;
    margin-top: 0%;
    align-items: center;
    justify-content: center;
    margin-left: 45.7%;
    font-size: 15px;
}


.container1 h2{
    font-family: 'Poppins', sans-serif; 
    color:#E3DCCD;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    padding: 5%;
    margin-left: -5%;
}
.container1 h1:hover {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.container1 .line{
    height: 2px;
    width: 350px;
    background-color:#E3DCCD;
    margin-left: 455px;
    margin-top: -150px;
}

.container1 .lineD{
    height: 2px;
    width: 750px;
    background-color:#E3DCCD;
    margin-left: 250px;
    margin-top: -150px;

}
  
.line:hover {
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
.lineD:hover {
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}



.container1 .lineA{
    height: 2px;
    width: 400px;
    background-color:#E3DCCD;
    margin-left: 428px;
    margin-top: -150px;

}

.container1 .lineF{
    height: 2px;
    width: 400px;
    background-color:#E3DCCD;
    margin-left: 428px;
    margin-top: -150px;
}

.container1 .lineQ{
    height: 2px;
    width: 420px;
    background-color:#E3DCCD;
    margin-left: 428px;
    margin-top: -150px;
    margin-bottom: 2%;
}
  
.lineA:hover {
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.container1 p1 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: #E3DCCD;
    margin-left: 5%;
    margin-right: 7%;
    margin-top: 4%;
    width: 50%;
    margin-bottom: 4%;
}
.container1 p2 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: #E3DCCD;
    margin-left: 7%;
    margin-right: 50%;
    margin-top: 5%;
}
.imagem-banner1 img{
    width: 450px;
    margin-top: -37%;
    margin-bottom: 50px;
    align-items: center;
    margin-right: 5%;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    margin-left: 60%;
    opacity: 0.7;
    border: 8px solid #E3DCCD;
}
.imagem-banner1 img:hover{
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.imagem-banner2 img{
    width: 300px;
    margin-top: 5%;
    margin-bottom: 50px;
    align-items: center;
    margin-right: 60%;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    margin-left: 5%;
    opacity: 0.7;
    border: 8px solid #E3DCCD;
}
.imagem-banner2 img:hover{
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.imagem-banner4 img{
    width: 400px;
    margin-top: 5%;
    margin-bottom: 50px;
    align-items: center;
    margin-right: 60%;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    margin-left: 5%;
    opacity: 0.7;
    height: 300px;
    border: 8px solid #E3DCCD;
}
.imagem-banner4 img:hover{
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.card {
    background-color: #E3DCCD;
    width: 465px;
    border-radius: 5px;
    height: 40px;
    margin-left: 60%;
}
.card h2{
    color: #767066;
    margin: 0%;
    position: absolute;
}

.container1 p3 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: #E3DCCD;
    margin-left: 35%;
    margin-right: 7%;
    margin-top: -48%;
}
.container1 p4 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: #E3DCCD;
    margin-left: 5%;
    margin-right: 50%;
    margin-top: 4%;
    width: 51%;
}

.container1 p5 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: #E3DCCD;
    margin-left: 42%;
    margin-right: 7%;
    margin-top: -59%;
}

